@use "./variables" as *;
@use "./mixins" as *;

.questionContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid red;
  border-radius: $radius-lg;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 500px;

  .questionGroup {
    background-color: $background-color;
    padding: 12px;
    margin: 10px 0;
    border-radius: $radius-md;
    width: 100%;
  }
  .question {
    margin: 0 0 15px 15px;
  }
  .sub-question {
    font-weight: 600;
  }
  .optionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    padding: 15px;
    border: 2px solid black;
    border-radius: $radius-lg;
    margin: 10px;
    justify-content: center;
    align-content: center;
  }
  .option {
    @include option-base;
    width: 40%;

    &.selected {
      background-color: $highlight-color;
    }
  }
}
